@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
body{
    background-color:#3a3a3a;
    color:#ffffff;
    font-family: "Kirang Haerang", sans-serif;
    font-size:2em;
    
}

/*-----Cta Container*/

.cta-container{
    height: 100vh;
    
    background: url('../images/haunted_house.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: flex;
    align-items: center;
    position: relative;
    
}

.callout {
    font-family: "Kirang Haerang", sans-serif;
}

.row {
    margin: 0;
    border: 0;
    padding: 0;
}

.jumbotron {
    background-color: transparent;
}

.navbar .navbar-default{
    padding: 0;
    margin: 0;
    
}
/*-----question section----*/

.question-section{
   margin-top:20px;
}
.zombie-images {
    position: relative;
    display: block;
    margin: 0px auto;
}
.btn{
    margin-top:15px;
}