@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');


/*-----Cta Container*/

.cta-container{
    height: 100vh;
    
    background: url('../assets/images/haunted_house.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: flex;
    align-items: center;
    
}

.row {
    margin: 0;
    border: 0;
    padding: 0;
}
/*-----question section----*/


.zombie-bodypart{
    
}
.zombie-images {
    position: relative;
    display: block;
    margin: 0px auto;
}